<div class="js-sidebar-scroll">
    <div class="content-side">
        <ul class="nav-main">
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fab fa-2x fa-dashcube"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;">Dashboard</span>
                </a>
            </li>
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="About" asp-action="Index">
                    <i class="si si-info fa-2x"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;"> About</span>
                </a>
            </li>
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="Category" asp-action="Index">
                    <i class="si si-book-open fa-2x"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;"> Categories</span>
                </a>
            </li>
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="Product" asp-action="Index">
                    <i class="fab fa-2x fa-product-hunt"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;"> Products</span>
                </a>
            </li>
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="Service" asp-action="Index">
                    <i class="si si-docs fa-2x"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;"> Services</span>
                </a>
            </li>
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="Slider" asp-action="Index">
                    <i class="far fa-2x fa-circle-left"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;"> Slider</span>
                </a>
            </li>
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="Staff" asp-action="Index">
                    <i class="fa fa-2x fa-person-circle-check"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;"> Staff</span>
                </a>
            </li>
            <li class="nav-main-item">
                <a class="nav-main-link active" asp-area="Admin" asp-controller="Testimonial" asp-action="Index">
                    <i class="far fa-2x fa-comment"></i>
                    <span class="nav-main-link-name" style="margin-left:10px;"> Testimonial</span>
                </a>
            </li>
        </ul>
    </div>
</div>