<div class="content-header">
    <a class="fw-semibold text-dual" asp-area="Admin" asp-controller="Home" asp-action="Index">
        <span class="smini-visible">
            <i class="fa fa-circle-notch text-primary"></i>
        </span>
        <span class="smini-hide fs-5 tracking-wider">Admin Panel</span>
    </a>
    <div>
        <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="layout" data-action="dark_mode_toggle">
            <i class="far fa-moon"></i>
        </button>
        <a class="d-lg-none btn btn-sm btn-alt-secondary ms-1" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
            <i class="fa fa-fw fa-times"></i>
        </a>
    </div>
</div>